* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.app {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: black;
    color: white;
    font-size: 30px;
}

#logo {
    height: 100px;
    width: 150px;
    margin: 10px;
}

#navTitle {
    flex-grow: 1;
    text-align: center;
}

.mainContainer {
    display: flex;
    flex: 1;
}

#footer {
    background-color: black;
    padding: 10px;
    text-align: center;
}

#footer a {
    text-decoration: none;
    color: white;
}

#lateralMenu {
    width: 20%;
    background-color: rgb(202, 201, 201);
    color: white;
    padding: 20px;
}

#menuList {
    display: flex;
    flex-direction: column;
    padding: 0;
    position: fixed;
    width: 15%;
}

#menuList a {
    margin: 30px 0;
}

#menuList button {
    width: 100%;
    background-color: rgb(202, 201, 201);
    color: black;
    border-left: none;
    border-right: none;
    padding: 30px 0;
    border-radius: 20px;
    font-size: xx-large;
    cursor: pointer;
}

#homePage,
#aboutPage,
#detailsPage,
#errorPage,
#form {
    flex: 1;
    text-align: center;
}

#homePage button {
    margin-bottom: 10px;
}

#check {
    height: 30px;
}

#items {
    display: flex;
    justify-content: space-around;
}

#buttons button {
    margin-right: 20px;
}

#travelHeader {
    display: flex;
    border: 2px solid black;
    background-color: #ccc;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10px;
}

#travelCard {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: 20px 0;
}

#containerTravel {
    border: 2px solid black;
}

#travelCard span, #travelHeader span {
    flex: 1;
    text-align: center;
}

#form span {
    font-size: xx-large;
}

form {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 800px;
    margin: 1.5rem auto;
    padding: 1.5rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
    font-size: x-large;
    font-weight:900;
    color:#ccc;
    background-color: black;
}

label {
    display: flex;
    text-align: left;
    margin: 3rem;
    height: 35px;
    align-items: center;
    justify-content: space-between;
}

label input, select {
    margin-left: 10rem;
    font-size: large;
    color: black;
    background-color:#ccc;
    padding: 10px;
    border-radius: 50px;
}

form span {
    position: absolute;
    top: 0;
    left: 0;
    padding-top: 10px;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 600;
}

button[type="submit"] {
    margin-top: 50px;
    padding: 10px;
    width: 15rem;
    font-size: x-large;
    background-color:rgb(129, 196, 63);
    border-radius: 50px;
    font-size: xx-large;
}