body {
    margin: 0;
}

#navBar {
 display: flex;
 justify-content: space-around;
 background-color: rgb(80, 15, 141);
 color: white;
 font-size: 30px;
}

#logo {
    height: 150px;
}

#footer {
    display:flex;
    
}